/* css styles */


/* ----------------------------------- */
/* ---------   Default --------- */
/* ----------------------------------- */

h2{
    border-bottom: none !important;
    font-size: 1.5rem;
    opacity: .8 !important;
    margin-bottom: .1rem;
}




/* ----------------------------------- */
/* ---------   Navigation bar top --------- */
/* ----------------------------------- */
footer.footer .nav-footer, #quarto-header > nav{
    margin: 0px;
    padding: 0px;
}
.navbar-dark .navbar-brand{
    color: white;
    font-size: 25px;
}
.navbar-brand-container{
    background-color: black;
    padding: 1em 3em;
    margin-right: 1em;
    margin-left: 1em;
}
.navbar-title{
    font-weight: bold;
}

/* Picture */
.about-image{
    height: 15em !important;
    width: 15em !important;
}
